/* Общие стили для страниц печати */
.tab-main {
  width: 100%;
  height: 75vh;
  max-height: 900px;
  background: var(--white);
  border-radius: 8px;
  overflow: scroll;
  display: flex;
}
.tab-option {
  width: 65%;
  height: 100%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.tab-option-img {
  width: 90%;
  height: 50%;
  max-height: 300px;
  background: var(--back);
  border-radius: 5px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.tab-option-img img {
  height: 100%;
}

